<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Mohit Educational & Social Institution</title>
	
    <link href="img/redLogof.png" rel="icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!--,-->
    <script src="files/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="files/bootstrap.min.css">
    <link rel="stylesheet" href="files/fontaw/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="files/style.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  
  <script src="files/bootstrap.min.js"></script>
  <link rel="stylesheet" href="files/bsnav.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='files/swiper.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800'>
  <link rel="stylesheet" href="files/slider.css">
  <script src="files/lightgallery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/1.2.0/lg-fullscreen.min.js" integrity="sha256-6hBcjqzWsIj/QaeqXt4CxtEN+YiuMrhFJP1xb6KNs5k=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.1/css/lightgallery.min.css" />
</head>
<body >
 

<div class="" id="headstart">
    <div class="navbar navbar-expand-lg bsnav bsnav-basic bsnav">
        <a class="navbar-brand" href="index.html"> <img src="img/redLogof.png" alt="MESO Wardha"> </a> 
          <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse justify-content-md-between" id="navbar">
            <ul id="navlinks" class="navbar-nav navbar-mobile mr-0">
        
              <li class="nav-item "><a class="nav-link" href="index.html">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="aboutus.html">About us</a></li>
              <li class="nav-item"><a class="nav-link" href="register.html">Join Us</a></li>
              <li  class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Events
                </a>
                <div id="navbarDropdown"  style="background-color:#cfcfc4;" class=" nav-item dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
                  <a class=" dropdown-item" style="color:black" href="pastevents.html">Successful Events</a>
                  <a class=" dropdown-item" style="color: black;" href="event.html">Upcoming Events</a>
                </div>
              </li>

              <li  class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownImg" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Photo Gallary
                </a>
                <div id="navbarDropdownImg"  style="background-color:#cfcfc4;" class=" nav-item dropdown-menu" role="menu" aria-labelledby="navbarDropdownImg">
                  <a class=" dropdown-item" style="color:black" href="gallary.html#story">Success Story</a>
                  <a class=" dropdown-item" style="color: black;" href="gallary.html#pprcut">Journey</a>
                  <a class=" dropdown-item" style="color: black;" href="gallary.html#journey">Happy Momments!</a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                
          </ul> 

          </div>      
        </div>
    
    
</div>
  
<div class="bsnav-mobile">
    <div class="bsnav-mobile-overlay"></div>
    <div class="navbar"></div>
</div>
<!--HEADER PART END-->
<script src="files/lg-thumbnail.min.js"></script>
<div class="pt-3"></div>
<div id="story" class="container" >
    <div class="pt-3" style="background: white;">
       <div class="jumbotron" style="border: 2px black solid; color: #2c3e50;background: #ecf0f1;">
            <h1><i class="fa fa-camera-retro"></i> The Image Gallery </h1>
            <p>Glimpse of Footpath School</p> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-5" style="text-align:center; align-items: center;">
            <span style="line-height: 2; font-size: 2em; font-family: cursive,Verdana, Geneva, Tahoma, sans-serif;">Awards & Recognition!</span>
        </div>
    </div>
    <div id="lightgallery" class="row">

        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/fsw1.jpg"
      data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/story/fsw1.jpg" >
            </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/DSC_0526.jpg"
            data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
                <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                    <img   class="img-thumbnail img-responsive" src= "img/story/DSC_0526.JPG" >
                </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/DSC_7410.jpg"
        data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
              <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                  <img   class="img-thumbnail img-responsive" src= "img/story/DSC_7410.JPG" >
              </a>
          </div>
          <!------------------------------------->
          <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/20190129_155348.jpg"
      data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/story/20190129_155348.jpg" >
            </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/DSC_7761.jpg"
      data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/story/DSC_7761.jpg" >
            </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/FB_IMG_1590862485357.jpg"
      data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/story/FB_IMG_1590862485357.jpg" >
            </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/FB_IMG_15600711708743339.jpg"
      data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/story/FB_IMG_15600711708743339.jpg" >
            </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/IMG-20190402-WA0040.jpg"
      data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/story/IMG-20190402-WA0040.jpg" >
            </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/received_1892092481013726.jpg"
      data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/story/received_1892092481013726.jpg" >
            </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/IMG-20200730-WA0011.jpg"
      data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/story/IMG-20200730-WA0011.jpg" >
            </a>
        </div>
        <!------------------------------------->
        <div class="col-sm-6 col-lg-4 mb-1 lazyload" data-src="img/story/IMG-20200730-WA0015.jpg"
        data-sub-html="<h4>Footpath School</h4><p>Our work with Awards & Felicitation </p>" zoom="false" data-download-url="false" >
              <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                  <img   class="img-thumbnail img-responsive" src= "img/story/IMG-20200730-WA0015.jpg" >
              </a>
          </div>
          <!------------------------------------->
    </div>
    <hr class="my-3 fancyline">
    <!-------------------------------------------------------------------------------------------------->
    <div class="mt-5 mb-3 youtube" >
        <div class="row">
            <div class="col-lg-12 mb-5" style="text-align:center; align-items: center;">
                <span style="line-height: 2; font-size: 2em; font-family: cursive,Verdana, Geneva, Tahoma, sans-serif;">Footpath School</span><button class="youtubeButton"> YouTube</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4  col-lg-3 mb-3" >
                <script src="https://apis.google.com/js/platform.js"></script>
                <div class="col-md-6 g-ytsubscribe" data-channelid="UCjvCRVQObLeVmVoj89ea4Aw" data-layout="full" data-theme="dark" data-count="default"></div>
                <!--Embed Playlist
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=fJ2RNoFQe6A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                -->
            </div>
            <div class="col-sm-8  col-lg-9">
                <iframe width="100%" height="200px"  src="https://www.youtube.com/embed/fJ2RNoFQe6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
            </div>
        </div>
            
    </div>
    
    <hr class="my-3 fancyline">
    <!-------------------------------------------------------------------------------------------------->
    <div class="row">
        <div class="col-lg-12 mb-5" style="text-align:center; align-items: center;">
            <span style="line-height: 2; font-size: 2em; font-family: cursive,Verdana, Geneva, Tahoma, sans-serif;">News Articles!</span>
        </div>
    </div>
    <div id="pprcut" class="row">
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/1ACCE14.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/1ACCE14.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/1BB2D45.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/1BB2D45.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/1FA68A1.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/1F468A1.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/1F72E1.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/14F72E1.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/16DA2E1.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/16DA2E1.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/53bcc12e-25b1-4e67-95a0-213a5b463330.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/53bcc12e-25b1-4e67-95a0-213a5b463330.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/IMG-20200730-WA0016.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/IMG-20200730-WA0016.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/194FC8A.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/194FC8A.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/229de791-496c-4c73-8497-5e5ed9582f8b.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/229de791-496c-4c73-8497-5e5ed9582f8b.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/1438DF0.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/1438DF0.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/20190119_161630.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/20190119_161630.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/10983.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/10983.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/IMG-20180410-WA0015.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/IMG-20180410-WA0015.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/Yavatmal-Wardha_2019-10-30.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/Yavatmal-Wardha_2019-10-30.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/NewsCutting/59426.jpg"
        data-sub-html="<h4>News Articles</h4><p>The work of Mohit Foundation (Footpath School) was noticed by several news media! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/NewsCutting/59426.jpg" >
            </a>
        </div>
        <!------------------------------>
        

    </div>
    <hr class="my-3 fancyline">
    <!-------------------------------------------------------------------------------------------------->
    <!--<div class="row">
        <div class="col-lg-12 mb-5" style="text-align:center; align-items: center;">
            <span style="line-height: 2; font-size: 2em; font-family: cursive,Verdana, Geneva, Tahoma, sans-serif;">Admin Uploads!</span>
        </div>
    </div>
    <div id="adminupload" class="row">
      <% admup.forEach(function(imgpath2){ %>

        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="<%= imgpath2 %>"
        data-sub-html="<h4>Admin uploads</h4><p>Check Our Recent Uploads! </p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "<%= imgpath2 %>" >
            </a>
        </div>
        <% }) %>
    </div>
    <hr class="my-3 fancyline">-->
    <!-------------------------------------------------------------------------------------------------->
    <div class="row">
        <div class="col-lg-12 mb-5" style="text-align:center; align-items: center;">
            <span style="line-height: 2; font-size: 2em; font-family: cursive,Verdana, Geneva, Tahoma, sans-serif;">Events!</span>
        </div>
    </div>
    <div id="journey" class="row">

        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170115_135836.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170115_135836.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170115_140045.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170115_140045.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170115_140537.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170115_140537.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170124_182631.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170124_182631.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170126_100231.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170126_100231.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170128_181033.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170128_181033.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170128_183553.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170128_183553.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170211_164408.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170211_164408.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20170222_191418.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20170222_191418.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20181112_172924.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20181112_172924.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20181214_173955.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20181214_173955.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20190125_163232.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20190125_163232.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/20190127_103525.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/20190127_103525.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/DSC_7326.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/DSC_7326.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/fsw11.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/fsw11.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/fsw12.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/fsw12.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/IMG-20170124-WA0020.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/IMG-20170124-WA0020.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/IMG-20170119-WA0036.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/IMG-20170119-WA0036.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/IMG-20200730-WA0029.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/IMG-20200730-WA0029.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/IMG-20200730-WA0012.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/IMG-20200730-WA0012.jpg" >
            </a>
        </div>
        <!------------------------------>
        <div class="col-sm-6 col-lg-4 mb-2 lazyload" data-src="img/momments/IMG-20200730-WA0022.jpg"
        data-sub-html="<h4>Witness The Ground Reality</h4><p>Working for Better Tommarow!</p>" zoom="false" data-download-url="false" >
            <a href="" class="j" style="margin: auto; align-items: center; align-content: center; text-align: center;">
                <img   class="img-thumbnail img-responsive" src= "img/momments/IMG-20200730-WA0022.jpg" >
            </a>
        </div>
        <!------------------------------>
        

    </div>
</div>

           

<script>
    $(document).ready(() => {
  $("#lightgallery").lightGallery({
    pager: true,
    actualSize:false
  });
  $("#pprcut").lightGallery({
    pager: true,
    actualSize:false
  });
  $("#adminupload").lightGallery({
    pager: true,
    actualSize:false
  });
  $("#journey").lightGallery({
    pager: true,
    actualSize:false
  });

  var hashcode = window.location.hash;

  // move page to any specific position of next page(let that is div with id "hashcode")
  $('html,body').animate({scrollTop: $('div#'+hashcode).offset().top},'slow');

});

</script>
<script>
	window.addEventListener("scroll", function() { onScrollDiv() });
	window.addEventListener("DOMContentLoaded", function() { onScrollDiv() });

	function onScrollDiv() {
		var images = document.querySelectorAll('.lazyload');
		for (var i=0, nb=images.length ; i <nb ; i++) {
			var img = images[i]
			var rect = img.getBoundingClientRect();
			var isVisible = ((rect.top - window.innerHeight) < 500 && (rect.bottom) > -50 ) ? true : false ;

			if (isVisible) {
				if (!img.src) {
					img.src = img.dataset.src;
				}
			}
		}
	}

</script>



<!--FOOTER PART-->

<a href="#headstart" style="display: hidden; position: fixed; bottom: 20px; right: 25px; z-index: 99; "> <i style="color: orangered;" class=" fa fa-fw fa-2x fa-arrow-alt-circle-up"></i></a>

<footer class="footer-distributed">
 
    <div class="footer-left">
  <img src="img/redLogoT.png">
        <h3><span>Mohit Educational & Social Institution</span></h3>

        <p class="footer-links">
            <a href="index.html">Home</a>
            |
            <a href="register.html">Join</a>
            |
            <a href="aboutus.html">About</a>
            |
            <a href="contact.html">Contact</a>
        </p>

        <p class="footer-company-name">© 2020 MESO Wardha</p>
    </div>
    <div class="footer-center">
        <!-- <div>
            <i class="fa fa-map-marker"></i>
              <p><span>Amravati</span>
                Maharashtra, India</p>
        </div> -->
        <a id="shareMedia" href="#"target="_blank"> 
           <a href="https://www.instagram.com/footpathwardha/"> <i class="bg-danger fab fa-instagram"></i>
         <span class=" footer-icon" style="color: white;"> Follow us on Instagram</span> </a> <br>
        <a href="https://www.facebook.com/mohitsaharewardha"> <i class="bg-primary fab fa-facebook"></i> 
         <span class=" footer-icon" style="color: white;"> Like us on Facebook</span> </a> <br>
         <a href="https://www.youtube.com/channel/UCjvCRVQObLeVmVoj89ea4Aw"><i class="bg-danger fab fa-youtube"></i>
         <span class=" footer-icon" style="color: white;"> Subscribe on YouTube</span> </a><br>
         <a href="https://wa.link/ubvh15"><i class="bg-success fab fa-whatsapp"></i>
         <span class=" footer-icon" style="color: white;"> Join us on Whatsapp</span> </a> <br>
         <a href="http://mohitsahare2612.blogspot.com/"><i class="bg-dark fab fa-blogger"></i>
         <span class=" footer-icon" style="color: white;"> Visit Our Blog</span> </a> <br>
            
            <i class="pl-0 fa fa-envelope"></i>
            <span class="pl-0" style="font-size: 14px;"><a href="mailto:#">mohitshaikshanikvasamaij@gmail.com</a></span>
        
        </a>
    
        
    </div> 
    <div class="footer-right">
        <p class="footer-company-about">
            <span class="setfont" style="letter-spacing: 0.1em; font-size: 1.9rem;">About Developer</span> </p>
            <p class="footer-company-about">
                <span style="color:  #e0ac1c;">Shubham S. More</span>
            </p>
            <p class="footer-company-about">
            <span><i class="mr-2 fa fa-phone"></i><a href="tel:7020958418">Contact: +91 7020958418 </a></span> </p>
            <p class="footer-company-about">
            <span><i class="mr-2 fa fa-envelope"></i><a href="mailto:ssmore161@gamil.com">ssmore161@gmail.com</a></p>
            
            
        <div class="footer-icons">
            <a style="background-color: #3b5998;;" href="https://www.facebook.com/shubhamsanjaymore"><i class="fab fa-facebook fa-fw"></i></a>
            <a href="https://wa.link/uugvhk" style="background-color: #25d366;"><i class="fab fa-whatsapp"></i></a>
            <a href="https://twitter.com/shubhammore25" style="background-color: #55acee; color: #fff;"><i class=" fab fa-twitter"></i></a>
            <a class="bg-danger" href="https://www.instagram.com/shubhzz25/"><i class=" fab fa-instagram"></i></a>
            <a style="background-color: #0077b5;" href="https://www.linkedin.com/in/shubham-more-12b109174/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <div style="color: white; font-size: 24px; text-align: center;">
        Visitors 
        <a href="#" title="counter"><img src="https://counter3.stat.ovh/private/freecounterstat.php?c=atuq8lkhyw7ne7sp12eqe1u9pulnsjmg" border="0" title="counter" alt="counter"></a>
    </div>
</footer>
    
    <script src="files/bsnav.min.js"></script>
    
        <!-- popper js -->
        <script src="files/popper.min.js"></script>
      <script src="files/bootstrap.min.js"></script>
      
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
      <script src="files/random.js"></script>
      <script src="files/valid.js"></script>
     <!--  <script>
        $(document).ready(function(){
       $('meta[name="viewport"]').prop('content', 'width=1440');
    });
      </script> -->

    
  </body>
  </html>

  